#likes {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.like-btn {
    background-color: #390281;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.like-btn:hover {
    background-color: #6305dd;
}

#like-count {
    font-size: 1rem;
    color: #555;
}