<nav class="navbar">
    <div class="container">
        <div class="logo">MyBlog</div>
        <ul class="nav-links">
            <li><a href="{% url "home" %}">Home</a></li>
            <li><a href="{% url "blogs" %}">Blogs</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            {% if user.is_authenticated and request.session.user_role == "author" %}
                <li><a href="{% url "create_blog" %}">Create Blog</a></li>
            {% endif %}
        </ul>

        {% if user.is_authenticated %}
            <div class="profile-icon" onclick="window.location.href=''">
               <a href="{% url 'profile' %}"><img src="" alt="Profile" class="profile-img"></a> 
            </div>
            <button class="logout-btn" onclick="window.location.href='{% url 'logout' %}'">Logout</button>

        {% else %}
            <button class="login-btn" onclick="window.location.href='{% url 'login' %}'">Login</button>

        {% endif %}
        
        <div class="menu-toggle" onclick="toggleMenu()">☰</div>
    </div>
</nav>

