{% extends "base.html" %} 
{% load static %} 

{% block css %}
    <link rel="stylesheet" href="{% static 'css/blog_posts.css' %}" />
{% endblock css %} 

{% block content %}

<div style="height: 20px"></div>

<!-- Filter Buttons -->
{% include "blogs/includes/filter_section.html" %}

<div style="height: 20px"></div>

<!-- Blog Posts Grid -->
<div class="grid-container">
  {% for blog in all_blogs %} 
    {% include "blogs/includes/post.html" %} 
  {% endfor%}
</div>

{% block js %}
    <script src="{% static 'js/filter_section.js' %}"></script>
{% endblock js %}

{% endblock content %}
