{% extends "base.html" %}
{% load static %}

{% block title %}
    User Profile
{% endblock title %}

{% block css %}
    <link href="{% static "css/profile.css" %}" rel="stylesheet">
{% endblock css %}

{% block content %}
    <div class="container">
        <!-- Left Sidebar (User Info) -->
        {% include "users/includes/left_section_of_profile_page.html" %}

        <!-- Right Side (Blog List) -->
        {% include "users/includes/right_section_of_profile_page.html" %}
    </div>
{% endblock content %}

